<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(todo, index) in todos" :key="index" @click="toggleDone(index)">
                <s v-if="todo.done">{{ todo.text }}</s>
                <span v-else>{{ todo.text }}</span>
                <button @click="removeTodo(index)">x</button>
            </li>
        </ul>
        <input type="text" v-model="newTodo" @keyup.enter="addTodo">
        <button @click="addTodo">Aggiungi</button>
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>